<div class="container">
  
  <p> ${i18n.drawTitle} </p>

  <div class="form-group">
    <a name="" id="btn-draw-line2" class="btn btn-outline-secondary mb-1" href="#" role="button">${i18n.drawLine}</a>
    <a name="" id="btn-edit-line2" class="btn btn-outline-secondary mb-1" href="#" role="button">${i18n.editLine}</a>
    <a name="" id="btn-delete-line2" class="btn btn-outline-secondary mb-1" href="#" role="button">${i18n.deleteLine}</a>
  </div>

 
</div>