<div class="container">
  <form class="" id="formID">
    <div class="form-group">
      ${i18n.simpleExample}
    </div>
    <div class="form-group">
      <input type="text" name="textbox_1" class="form-control" placeholder=" ${i18n.simpleExample}" aria-describedby="helpId">
    </div>

    <div class="form-group">
      <div class="input-group">
        <input type="text" name="textbox_2" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="textbox_3">

      </div>
    </div>
    <div class="form-group">
      <div class='input-group date datepicker' id="date_example">
        <input type='text' class="form-control" placeholder="" name="textbox_date" />
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="ti-calendar" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <select class="form-control" name="state" id="select_commune">
      </select>
    </div>
    <hr>
    <div class="form-group">
      <a name="" id="a-submit" class="btn btn-outline-warning" data-dojo-attach-point="myButton" href="#" role="button"> ${i18n.submit}</a>
      <a name="" class="btn btn-outline-secondary" href="#" role="button"> ${i18n.cancel}</a>
    </div>
  </form>
  <hr>
  <div class="form-group">
    <table id="example" class="table table-striped table-bordered" width="100%"></table>
  </div>
</div>